.assessment-round {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .assessment-round label {
    display: flex;
    align-items: center;
  }
  
  .assessment-round label input {
    margin-right: 5px;
  }
  