.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000001a;
    width: 500px;
    margin: 50px auto; 
    justify-content: center;
  }
p{
    color: #000;
    font-size: 16px;
    padding-top: 35px ;
}

.p-header{
  font-size: 20px;
}
.point-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .point-container input[type="radio"] {
    margin-right: 10px; 
  }
  .table-container{
    border: 1px solid #000;
    padding: 10px;
  }